/* Botao Bauru Basquete */
.botao-1 {
  background-color: #00453A;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Brb/Brasilia */
.botao-2 {
  background-color: #142545;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Caxias do sul */
.botao-3 {
  background-color: #E95F25;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Cerrado Basquete */
.botao-4 {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}