/* Botao Bauru Basquete */
.botao-1 {
  background-color: #00453A;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Brb/Brasilia */
.botao-2 {
  background-color: #142545;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Caxias do sul */
.botao-3 {
  background-color: #E95F25;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Cerrado Basquete */
.botao-4 {
  background-color: rgb(136, 132, 132);
  color: black;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Corinthians */
.botao-5 {
  background-color: rgb(136, 132, 132);
  color: #9c0610;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Flamengo */
.botao-6 {
  background-color: #9c0610;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Fortaleza */
.botao-7 {
  background-color: rgb(136, 132, 132);
  color: #9c0610;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Franca */
.botao-8 {
  background-color: #566180;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao União Corinthians */
.botao-9 {
  background-color: #033F6B;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Minas Storm */
.botao-10 {
  background-color: #1f7197;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Mogi */
.botao-11 {
  background-color: #566180;
  color: #ffb700;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}

/* Botao Pato */
.botao-12 {
  background-color: #566180;
  color: white;
  border-radius: 5px;
  padding: 0.6rem;
  cursor:pointer;
  font-size: x-large;
}