img {
  height: 20rem;
  width: 20rem;
}

.botoes-navegacao {
  display: flex;
  justify-content: center;
}

.botao-Bauru {
  background-color: #024539;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  cursor:pointer;
}

.texto-Bauru {
  color: #16B018;  
}

/* .detalhes-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
} */

.texto-time {
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.detalhes-time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}