img {
  height: 20rem;
  width: 20rem;
}

.botoes-navegacao {
  display: flex;
  justify-content: center;
}
/* Estilização Bauru Basquete */
.botao-1 {
  background-color: #024539;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  cursor:pointer;
}

.texto-1 {
  color: #16B018;  
}

/* Estilização Brb Brasilia */

.botao-2 {
  background-color: #024539;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  cursor:pointer;
}

.texto-2 {
  color: #015dfb;  
}

.detalhes-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
}

.texto-time {
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.detalhes-time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}