.imagens-time {
  height: 23rem;
  width: 23rem;
}

.botoes-navegacao {
  display: flex;
  justify-content: center;
}

/* Estilização Bauru Basquete */
.texto-1 {
  color: #16B018;  
}

/* Estilização Brb Brasilia */
.texto-2 {
  color: #015dfb;  
}

/* Estilização Caxias do Sul */
.texto-3 {
  color: #FF0000;  
}

/* Estilização Cerrado basquete */
.texto-4 {
  color: #167718;  
}

/* Estilização Corinthians */
.texto-5 {
  color: #FFFFFF;  
}

/* Estilização Flamengo */
.texto-6 {
  color: #FF0000; 
}

/* Estilização Fortaleza */
.texto-7 {
  color: #0011fb; 
}

/* Estilização Franca */
.texto-8 {
  color: #0011fb; 
}

/* Estilização União Corinthians */
.texto-9 {
  color: #00A044; 
}

/* Estilização Minas Storm */
.texto-10 {
  color: #0483C0; 
}

/* Estilização Mogi */
.texto-11 {
  color: #6182c5; 
}

/* Estilização Pato */
.texto-12 {
  color: #0681da; 
}

/* Estilização Paulistano */
.texto-13 {
  color: #EC1B30; 
}

.detalhes-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
}

.texto-time {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  font-weight: 500;
}

.detalhes-time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}