.logo-nbb {
  height: 25rem;
  width: 25rem;
}

.botao-equipes {
  background-color: #415c25;
  border-radius: 5px;
  cursor:pointer;
  color: white;
  font-size: large;
  padding: 0.8rem;
  font-size: x-large;
}

.text {
  color: #2B8638;
  font-weight: bold;
  font-size: x-large;
}

.container-texto {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-apresentacao {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  min-height: 50vh;
}

.container-geral {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
