img {
  width: 13rem;
  height: 13rem;
}

.title {
  color: #2B8638;
  font-size: xx-large;
}

.container-imagens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
  height: 55%;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vw;
}
